<!DOCTYPE html>
<html lang="en">
<%- include('./components/head') %>

    <body>
        <%- include('./components/navbar') %>
            <div class="page-container">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Date of birth</th>
                            <th>Admin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(function(user) { %>
                            <tr>
                                <td>
                                    <%= user.username %>
                                </td>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.YOB %>
                                </td>
                                <td>
                                    <%=user.isAdmin===true ? 'True' : 'No' %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Date of birth</th>
                            <th>Admin</th>
                        </tr>
                    </tfoot>
                </table>
            </div>


            <%- include('./components/bootstrap-cdn') %>
                <script>
                    $(document).ready(function () {
                        $('#example').DataTable();
                    });
                </script>
    </body>

</html>