<!DOCTYPE html>
<html lang="en">
<%- include('./components/head') %>

    <body>
        <div class="page-container">
            <% if(error_msg !='' ){ %>
                <h1 class="text-danger">
                    <%= error_msg %>
                </h1>
                <% } %>
                    <h3>Edit <%=player.name %>
                    </h3>
                    <form method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nation</label>
                            <input type="text" class="form-control" id="name" required name="name"
                                value="<%= player.name %>">
                        </div>

                        <div class="mb-3">
                            <label for="career" class="form-label">Carrer</label>
                            <select class="form-select form-select-lg mb-3" id="career" name="career">
                                <%for (let club of clubList){ %>
                                    <option value="<%= club.name %>"
                                        <%=JSON.stringify(club.name)===JSON.stringify(player.career) ? 'selected' : ''
                                        %>><%= club.name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="position" class="form-label">Position</label>
                            <select class="form-select form-select-lg mb-3" id="position" name="position">
                                <%for (let position of positionList){ %>
                                    <option value="<%= position.name %>"
                                        <%=JSON.stringify(position.name)===JSON.stringify(player.position) ? 'selected'
                                        : '' %>><%= position.name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="goals" class="form-label">Goals</label>
                            <input placeholder="number of goal" type="number" class="form-control" id="goals" required
                                value="<%= player.goals %>" name="goals">
                        </div>

                        <div class="mb-3">
                            <label for="nation" class="form-label">Nation</label>
                            <select class="form-select form-select-lg mb-3" id="nation" name="nation">
                                <%for (let nation of nationsList){ %>
                                    <option value="<%= nation._id %>">
                                        <%= nation.name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="mb-3 mt-3">
                            <input type="checkbox" class="form-check-input" name="isCaptain" value="true"
                                <%=player.isCaptain ? 'checked' : '' %> id="captain">
                            <label class="form-check-label" for="captain">is Captain?</label>
                        </div>
                        <div class="row d-flex">
                            <div class="mb-3 col">
                                <label for="formFile" class="form-label">Image</label>
                                <input class="form-control" type="file" id="formFile" name="file">
                            </div>
                            <div class="mb-3 col">
                                <img style="width: 70px; height: 70px;" src="<%= player.image %>" alt="">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
        </div>

        <%- include('./components/bootstrap-cdn') %>
    </body>

</html>