<!DOCTYPE html>
<html lang="en">
<%- include("./components/head") %>

    <body>
        <%- include('./components/navbar') %>
            <div class="mt-5 center">
                <% if(error_msg !='' ){ %>
                    <%= error_msg %>
                        <% } %>
                            <% if(success_msg !='' ){ %>
                                <%= success_msg %>
                                    <% } %>
            </div>

            <div class="page-container">
                <h3 class="mb-2">
                    Update profile
                </h3>
                <form method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Full name</label>
                        <input type="text" class="form-control" id="name" required name="name" value="<%= user.name %>">
                    </div>
                    <div class="mb-3">
                        <label for="yob" class="form-label">Date of birth</label>
                        <input type="text" class="form-control" required name="yob" min="1990-01-01"
                            value="<%= user.YOB %>" id="yob">

                    </div>
                    <button type="submit" class="btn btn-primary">save</button>
                </form>
            </div>


            <%- include('./components/bootstrap-cdn') %>
                <!-- Thêm các thư viện jQuery và jQuery UI -->
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                <script script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
                <script>
                    $(function () {
                        $("#yob").datepicker({
                            dateFormat: "yy-mm-dd",
                            maxDate: new Date() // ngăn người dùng chọn ngày trong tương lai
                        });
                    });
                    const maxDate = new Date();
                    document.getElementById("yob").max = maxDate.toISOString().split("T")[0];
                </script>
    </body>

</html>